.heading {
  display: grid;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.nav-menu-container {
  margin-bottom: 0.5%;
}

.index-left-section {
  width: 50%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: white;

  p {
    text-align: left;
    line-height: 1.5;
  }
}

.index-right-section {
  width: 50%;
  display: ruby;
  justify-items: center;
  align-items: center;
}

.profile-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 2px;
}

.index-bottom-section {
  display: flex;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 2%;
  gap: 1%;
  border-radius: 2px;
}

.resume-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/page_2.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}
