.heading {
  display: grid;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.nav-menu-container {
  margin-bottom: 1%;
}

.about-me {
  width: auto;
  height: auto;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.index-bottom-section {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  padding: 2%;
  gap: 1%;
}
